html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("../static/focused_kulinariya-vatrushka.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #cc7d38;
  margin-bottom: 118px; /* Margin bottom by footer height */
}

.site-header {
  background-color: rgba(33, 33, 33, 0.9);
  position: sticky;
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}

.my-content {
  margin: 25px auto 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(251, 251, 251, 0.62);
}

.my-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}